/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}


html,
body {
  height: 100%;
  background-color: #000;
}


body{
margin:0;
padding:0;
color: #fff;
text-align: center;
background: url(../images/bg.jpg) center center no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
position: relative;
}

.black{
background-color: rgba(0, 0, 0, 0.5);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

#wrapper{
	position: relative;
	width: 100%;
	margin: auto;
}

#header{
	width: 100%;
	padding: 100px 0 100px 0;
	margin: auto;
}

h1{
	font-family: 'Damion', cursive;
	font-size: 103px;
}

h2{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	letter-spacing: 4px;
}

h2 strong.sep-one{
	width: 60px;
	height: 1px;
	background: #fff;
	position: absolute;
	margin-left: -80px;
	margin-top: 15px;
}

h2 strong.sep-two{
	width: 60px;
	height: 1px;
	background: #fff;
	position: absolute;
	margin-left: 15px;
	margin-top: 15px;
}


#middle{
	width: 100%;
	background: #ffffff;
	padding: 10px 0;
	margin: 50px 0;
}

#middle p{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	color: #000000;
	line-height: 34px;
	padding: 0 30%;
}

#middle p span{
	color:#e63b4d;
}

#footer{
	width: 100%;
}

ul.social
{
width: 242px;
margin: 80px auto 0;
height: 62px;
}

ul.social li{
    float: left;
    position: relative;
    margin-right: 18px;
}

ul.social li a{
    display: block;
    width: 62px;
    height: 62px;
    color: #fff;
}

@media screen and (max-width: 568px){
	#header{
		width: 100%;
		padding: 30px 0 30px 0;
		margin: auto;
	}


	h1{
		font-size: 53px;
	}
	
	h2{
		
		font-size: 15px;
		letter-spacing: 2px;
	}

	h2 strong.sep-one{
		width: 30px;
		margin-left: -40px;
		margin-top: 7px;
	}
	
	h2 strong.sep-two{
		width: 30px;
		margin-left: 10px;
		margin-top: 7px;
	}

	#middle{
		margin: 50px 0 20px 0;
		width: 90%;
		padding: 5%;
	}
	
	#middle p{
		font-size: 18px;
		color: #000000;
		line-height: 24px;
		padding: 0;
	}
	
	#middle p span{
		color:#e63b4d;
	}

	
}

